{% extends "layout.html" %}
{% block corps %}
<div class="container">

<h1>TEI Reader</h1>
<p>Développée dans le cadre du Master Technologies Numériques Appliquées à l'Histoire de l'École nationale des Chartes,
cette application vise à présenter et exploiter un corpus de documents encodés en XML TEI.</p>

<p>
    <h2>Corpus</h2>
<ul> {% for fichier in liste %}
    <li> <a href="{{ fichier.Fichier }}/Presentation"> {{ fichier.Titre }} de {{fichier.Auteur}} </a></li>
    {% endfor %}
</ul>
</p>
</div>
{% endblock %}