{% extends "layout.html" %}
{% block corps %}
<div class="container">
    <p class="lead">Développée dans le cadre du Master Technologies Numériques Appliquées à l'Histoire de l'École nationale
        des Chartes, cette application vise à présenter et exploiter un corpus de documents encodés en XML TEI.</p>
<p>
    <h2>Corpus</h2>
    <p>
<ul class="list-group list-group-flush"> {% for fichier in liste %}
    <li class="list-group-item"> <a href="{{ fichier.Fichier }}/Presentation"> {{ fichier.Titre }}
        <small class="text-muted">de {{fichier.Auteur}} </small></a></li>
    {% endfor %}
</ul>
    </p>
</p>
</div>
{% endblock %}