{% extends "layout.html" %}
{% block corps %}
<script src="/static/js/wordcloud2.js"></script>
<div class="container">
    <h1>Analyse textuelle de l'oeuvre</h1>
    <div>
        <h4>Fréquence des mots les plus utilisés</h4>
        <div class="indexmots">
        <div id="liste-mots">
<ul class="list-group">
    {% for mot, nombre in (analyse|dictsort(false, 'value', reverse=True))[:50] %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ mot }}
        <span class="badge badge-primary badge-pill">{{ nombre }}</span>
    </li>
    {% endfor %}
</ul>
        </div>
            <div>
            <canvas id="nuage" width="600" height="600"></canvas>
            </div>
        </div>
    </div>
</div>


<script>
    var listes = [];
{% for mot, nombre in (analyse|dictsort(false, 'value', reverse=True))[:50] %}
    var liste = ["{{ mot }}", {{ nombre}}];
    listes.push(liste);
{% endfor %}
    var min = Math.min(...listes.map(x => x[1]))
    var options = {
        list: listes,
        fontFamily: "Zapfino",
        weightFactor: 35/min,
            };
    WordCloud(document.getElementById('nuage'), options);
</script>
{% endblock %}
