{% extends "layout.html" %}
{% block corps %}
<div class="container">
    <p class="retour"><a href="javascript:history.go(-1)">Retour à la présentation</a></p>
    <h1 class="marging">Index des lieux de {{ infos.Titre }} </h1>
<ul>
    {% for lieu, numeros in index|dictsort %}
    <li>
        <p class="index_entree">{{ lieu }} :</p>
        <p class="index_numeros">
            {% for numero in numeros %}
            <a href="Texte#{{ numero }}">{{ numero }}</a>
            {% endfor %}
        </p>
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}<