{% extends "layout.html" %}
{% block corps %}
<h1>Présentation de {{ infos.Titre}} de {{ infos.Auteur }}</h1>

<p>
    {{ infos.Titre }}, oeuvre de {{ infos.Auteur }} a été publiée en {{ infos.Date }} à {{ infos.Ville }} par
    {{ infos.Editeur_papier }}.
</p>
<p>
    Elle est composée de {{ infos.Lignes }} lignes.
</p>
<p>
    Les personnages de cette pièce sont :
    <ul>
    {% for personnage in infos.Personnages %}
    <li>
        {{ personnage }}
    </li>
    {% endfor %}
</ul>
</p>

<p>
    Nous vous proposons d'en consulter <a href="Table_des_matieres">la table des matières</a> ainsi que
    <a href="Index_personnages">l'index des personnages</a> et <a href="Index_lieux">l'index des lieux</a>
    en cliquant sur les liens.
</p>

<p>
    Vous trouverez <a href="Texte">ici</a> le texte dans son intégralité.
</p>
<p>
    Nous vous souhaitons une bonne consultation.
</p>
{% endblock %}