{% extends "layout.html" %}
{% block corps %}
<div class="container">
    <ul>
        {% for acte in table %}
        <li>{{ acte.Titre }}
            <ul>
                {% for scene in acte.Scènes %}
                <li>{{ scene.Titre }}
                    <p>
                        {% for personnage in scene.Personnages %}
                        {{personnage}}
                        {% endfor %}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}