{% extends "layout.html" %}
{% block corps %}
<div class="container">
    <p class="retour"><a href="javascript:history.go(-1)">Retour à la présentation</a></p>
    <h1 class="marging">Table des matières de {{ infos.Titre }}</h1>
    <ul>
        {% for acte in table %}
        <li>{{ acte.Titre }}
            <ul>
                {% for scene in acte.Scènes %}
                <li>{{ scene.Titre }}
                    <p>
                        {{ scene.Personnages|join(", ") }}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}