@font-face {
    font-family:"Zapfino";
    src: url("/static/fonts/Zapfino.otf");
}

.hero  {
    background-position: center 85%;
    padding:10vh;
    color: white;
    background-image: linear-gradient(to right, #c6c5c9, transparent, transparent),
    url("/static/images/La_comedie_francaise.jpeg");
}

.hero a {
    color: #111;
    font-family: Zapfino, sans-serif;
    font-size: 75px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: left;
}

.hero a:hover{
    text-decoration: none;
}

.hero p {
    color #4b4e54;
    text-align: right;
    position:relative;
    bottom:-10vh;
    font-size: 10px;
}

.indexmots {
    display: flex;
}

#liste-mots {
    flex-grow: 0.8;
}

#liste-mots > ul {
    width: 60%;
}

.marging {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
}

.portrait {
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.retour {
    background-color: #d3d6db;
    border: none;
    color: black;
    border-radius: 12px;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.act {
    font-size: 25px;
    font-family: Arial;
}

.scene {
    font-size: 20px;
    font-family: Arial;
}

.perso {
    font-family: Arial;
    font-style: italic;
}

.index_entree {
    font-family: Arial;
    font-size: 20px;
}

.index_numeros {
    font-family: Arial;
    font-size: 15px;
}

.piece {
    font-family: Arial;
    text-align: center;
}

.titre_piece {
    font-size:40px;
}

.titre_acte {
    font-size: 25px;
    margin-top:50px;
}

.titre_scene {
    font-size: 20px;
    margin-top: 40px;
}

.speaker, .auteur {
    font-family: Zapfino;
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 5px;
}

.auteur {
    font-size: 35px;
}

.ligne {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.stage {
    font-family: Zapfino;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer {
    font-family: Arial;
    font-size:15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}